<plugin name='fortnox' version='0.1' grailsVersion='2.1 &gt; *'>
  <author>Carljohan Carlsson</author>
  <authorEmail>carljohan.carlsson@gmail.com</authorEmail>
  <title>Fortnox</title>
  <description>Grails plugin for integrating with Fortnox (www.fortnox.se) API</description>
  <documentation>https://github.com/carkar/fortnox-grails-plugin</documentation>
  <type>FortnoxGrailsPlugin</type>
  <resources>
    <resource>com.matchi.fortnox.services.FortnoxContactService</resource>
    <resource>com.matchi.fortnox.services.FortnoxService</resource>
    <resource>com.matchi.fortnox.services.FortnoxInvoiceService</resource>
    <resource>com.matchi.fortnox.services.FortnoxItemService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>